td {
	padding: 10px;
	margin: 10px;
}
h2 {
  color: red;
  font-family: Cambria;
  font-size: 200%;
}

h3 {
  font-family: Cambria;
  font-size: 120%;
  margin-top: 5px;
  margin-bottom: 5px;
}
p {
	font-family: Cambria;
 	font-size: 85%;
}
h1 {
	text-align: center;
	font-family: Cambria;
	margin-top: -35px;
	margin-bottom: 5px;

}
img {
	margin-left: 60px;
}


table {

}

body {
	margin-left: 5px;
}